.buying {
  background-image:url("Images/Buy-icon.png");
  height:50px;
  width:50px;
  display:block;
  content:'';
}

.shopping-cart {
  width:100px;
  display:block;
  height:50px;
}

.drinks {
  width:100px;
  height:140px;
}

.col-md-7.col-sm-12 {
  padding-left:10px;
  padding-right:50px;
}

.totals {
  box-shadow:0 0 0;
}

.columnCaptions span {
  padding:0 21px 0 0;
}

.row {
  padding-bottom:10px;
}

.quantity {
  width:23px;
  padding-right:40px !important;
}

.popbtn {
  background-color:white;
  position:absolute;
  height:40px;
  right:0;
}

.price {
  position:absolute;
  right:42px;
}

.totals {
  padding:0;
}

.totals .price {
  position:static;
}

.popover.bottom > .arrow {
  left:auto;
  margin-left:0;
  right:5px;
}

.popover.bottom {
  margin-top:7px;
  margin-left:-40px;
}

.col-md-7.col-sm-12 ul {
  padding-left:15px;
}

.fa.fa-shopping-cart {
}

.buybuy {
  width:30%;
}

.strawberry {
  width:100%;
  height:100%;
}

