<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tea Shop</title>
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="/static/fonts/ionicons.min.css">
    <link rel="stylesheet" href="/static/css/Footer-Basic.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.8.2/css/lightbox.min.css">
    <link rel="stylesheet" href="/static/css/Lightbox-Gallery.css">
    <link rel="stylesheet" href="/static/css/Login-Form-Clean.css">
    <link rel="stylesheet" href="/static/css/Navigation-Clean.css">
    <link rel="stylesheet" href="/static/css/styles.css">
</head>

<body>
    <div>
        <nav class="navbar navbar-light navbar-expand-md navigation-clean">
            <div class="container"><a class="navbar-brand" href="index.html">Tea Shop&nbsp;</a><button class="navbar-toggler" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
                <div
                    class="collapse navbar-collapse" id="navcol-1">
					<ul class="nav navbar-nav ml-auto">
                        <li class="nav-item" role="presentation"><a class="nav-link" href="/index">Home</a></li>
                        <li class="nav-item" role="presentation"><a class="nav-link" href="/menu">Menu</a></li>
                        <li class="nav-item" role="presentation"><a class="nav-link" href="/addonitem">Add Ons</a></li>
                        {% if current_user.is_anonymous %}
                        <li class="nav-item" role="presentation"><a class="nav-link" href="/login">Log In</a>
                        {% else %}
                        <li class="nav-item" role="presentation"><a class="nav-link" href="/mgmt">Mgmt.</a>
                        <li class="nav-item" role="presentation"><a class="nav-link" href="/logout">Log Out</a>
                        {% endif %}
                    </ul>
    </div>
    </nav>
    </div>
	{% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    {% block content %}{% endblock %}
	<div class="footer-basic">
        <footer>
            <div class="social"><a href="#"><i class="icon ion-social-instagram"></i></a><a href="#"><i class="icon ion-social-snapchat"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-facebook"></i></a></div>
            <ul class="list-inline">
                <li class="list-inline-item"><a href="index.html">Home</a></li>
                <li class="list-inline-item"><a href="menu.html">Menu</a></li>
                <li class="list-inline-item"><a href="#">About Us</a></li>
                <li class="list-inline-item"><a href="#">Terms</a></li>
                <li class="list-inline-item"><a href="login.html">Login</a></li>
            </ul>
            <p class="copyright">Tea Shop © 2019</p>
        </footer>
    </div>
    <div class="photo-gallery"></div>
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.8.2/js/lightbox.min.js"></script>
</body>

</html>
