{% extends "base.html" %}

{% block content %}
<div>
    <div class="container">
        <h1>Manage menu and add-on</h1>
		<div style="width=90%" class="container">
		<h2>Edit or Delete Menu Items</h2>
		<table class="table" >
			<thead>
				<tr>
                <th>Item No.</th>
                <th>Name</th>
                <th>Drink Type</th>
                <th>Descriptione</th>
                <th>Price</th>
                <th>manage</th>
				</tr>
			</thead>

			<tbody>
			{% for menu_item in item_list %}
            <tr>
				<td>{{ menu_item.menu_item_number }}</td>
				<td>{{ menu_item.item_name }}</td>
				<td>{{ menu_item.drink_type }}</td>
				<td>{{ menu_item.drink_description }}</td>
				<td>{{ menu_item.price }}</td>
                <td><div style="width:100px" ><button data-toggle="dropdown" aria-expanded="false" type="button">Manage</button>
						<div role="menu" class="dropdown-menu"><a role="presentation" href="/menu/{{ menu_item.menu_item_number }}" class="dropdown-item">Edit</a><a role="presentation" href="/deleteitem/{{ menu_item.menu_item_number }}" class="dropdown-item">Delete</a></div>
</div>
                </td>
            </tr>
			{% endfor %}
			</tbody>
		</table>
		</div>
	</div>
	<div class="container">
    <h2>Add A New Menu Item</h2>
	<form action="" method="post">
	{{ add_menu_form.hidden_tag() }}
    <table class="table" >
        <thead>
            <tr>
                <th>Item No.</th>
                <th>Name</th>
                <th>Drink Type</th>
                <th>Descriptione</th>
                <th>Price</th>
                <th>manage</th>
            </tr>
        </thead>

        <tbody>
            <tr>
				<td>{{ add_menu_form.itemnumber(size=24) }}</td>
                <td>{{ add_menu_form.name(size=24) }}</td>
                <td>{{ add_menu_form.drinktype(size=24) }}</td>
                <td>{{ add_menu_form.description(size=24) }}</td>
                <td>{{ add_menu_form.price(size=24) }}</td>
                <td>{{ add_menu_form.submit }}</td>
            </tr>

        </tbody>
    </table>
	</form>
	</div>
	<div class="container">
		<div style="width=90%" class="container">
    <h2>Edit or Delete Add-On Items</h2>
    <table class="table" >
        <thead>
            <tr>
                <th>Item No.</th>
                <th>Description</th>
                <th>Quantity</th>
                <th>Price</th>
                <th>Availability</th>
                <th>manage</th>
                
            </tr>
        </thead>

        <tbody>
			{% for addon_item in addon_list %}
            <tr>
                <td>{{ addon_item.add_on_number }}</td>
                <td>{{ addon_item.food_description }}</td>
				<td></td>
                <td>{{ addon_item.price }}</td>
                <td>{{ addon_item.foodstatus }}</td>
                <td><div style="width:100px" ><button data-toggle="dropdown" aria-expanded="false" type="button">Manage</button>
						<div role="menu" class="dropdown-menu"><a role="presentation" href="/addon/{{ addon_item.add_on_number }}" class="dropdown-item">Edit</a><a role="presentation" href="/deleteaddon/{{ addon_item.add_on_number }}" class="dropdown-item">Delete</a></div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
	    </table>
		</div>
	</div>
	<div class="container">
    <h2>Add An Add-On Item</h2>
	<form action="" method="post">
	{{ add_addon_form.hidden_tag() }}
    <table class="table" >
        <thead>
            <tr>
                <th>Add-On No.</th>
                <th>Descriptione</th>
                <th>Quantity</th>
                <th>Price</th>
                <th>Availability</th>
                <th>Manage</th>
            </tr>
        </thead>

        <tbody>
			<tr>
                <td>{{ add_addon_form.addonnumber(size=24) }}</td>
                <td>{{ add_addon_form.description(size=24) }}</td>
				<td></td>
                <td>{{ add_addon_form.price(size=24) }}</td>
                <td>{{ add_addon_form.availability(size=24) }}</td>
                <td>{{ add_addon_form.submit }}</td>
            </tr>

        </tbody>
    </table>
	</form>
	</div>
</div>
{% endblock %}
