{% extends "base.html" %}

{% block content %}
<div>
        <div class="container">
            <h1>Manage menu and add-on</h1>
        </div>
    </div><div style="width=80%" class="container">
    <h2>Edit or Delete Menu Items</h2>
    <table class="table" >
        <thead>
            <tr>
                <th>Item No.</th>
                <th>Name</th>
                <th>Drink Type</th>
                <th>Descriptione</th>
                <th>Price</th>
                <th>manage</th>
            </tr>
        </thead>

        <tbody>
			{% for menu_item in item_list %}
            <tr>
				<td>{{ menu_item.menu_item_number }}</td>
				<td>{{ menu_item.item_name }}</td>
				<td>{{ menu_item.drink_type }}</td>
				<td>{{ menu_item.drink_description }}</td>
				<td>{{ menu_item.price }}</td>
                <td><div style="width:100px" ><button data-toggle="dropdown" aria-expanded="false" type="button">Manage</button>
						<div role="menu" class="dropdown-menu"><a role="presentation" href="/menu/{{ menu_item.menu_item_number }}" class="dropdown-item">Edit</a><a role="presentation" href="#" class="dropdown-item">Delete</a></div>
</div>
                </td>
            </tr>
			{% endfor %}
        </tbody>
    </table>
</div><div class="container">
    <h2>Add A New Menu Item</h2>
    <table class="table" >
        <thead>
            <tr>
                <th>Item No.</th>
                <th>Name</th>
                <th>Drink Type</th>
                <th>Descriptione</th>
                <th>Price</th>
                <th>manage</th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td><input type="text" placeholder="item number"/></td>
                <td><input type="text" placeholder="food name"/></td>
                <td><input type="text" placeholder="drink type"/></td>
                <td><input type="text" placeholder="ingredients"/></td>
                <td><input type="text" placeholder="price"/></td>
                <td><div style="width:90px" ><button type="button">Add item</button></div>
                </td>
            </tr>

        </tbody>
    </table>
</div><div style="width=80%" class="container">
    <h2>Edit or Delete Add-On Items</h2>
    <table class="table" >
        <thead>
            <tr>
                <th>Item No.</th>
                <th>Description</th>
                <th>Quantity</th>
                <th>Price</th>
                <th>Availability</th>
                <th>manage</th>
                
            </tr>
        </thead>

        <tbody>
			{% for addon_item in addon_list %}
            <tr>
                <td>{{ addon_item.add_on_number }}</td>
                <td>{{ addon_item.food_description }}</td>
				<td></td>
                <td>{{ addon_item.price }}</td>
                <td>{{ addon_item.foodstatus }}</td>
                <td><div style="width:100px" ><button data-toggle="dropdown" aria-expanded="false" type="button">Manage</button>
						<div role="menu" class="dropdown-menu"><a role="presentation" href="/addon/{{ addon_item.add_on_number }}" class="dropdown-item">Edit</a><a role="presentation" href="#" class="dropdown-item">Delete</a></div>
</div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div><div class="container">
    <h2>Add An Add-On Item</h2>
    <table class="table" >
        <thead>
            <tr>
                <th>Add-On No.</th>
                <th>Descriptione</th>
                <th>Quantity</th>
                <th>Price</th>
                <th>Availability</th>
                <th>Manage</th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td><input type="text" placeholder="0001"/></td>
                <td><input type="text" placeholder="Tapioca"/></td>
                <td><input type="text" placeholder="1"/></td>
                <td><input type="text" placeholder="1.5"/></td>
                <td><input type="text" placeholder="Yes"/></td>
                <td><div style="width:90px" ><button type="button">Add item</button></div>
                </td>
            </tr>

        </tbody>
    </table>
</div><div class="container">
    <h2>Add An Add-On Item</h2>
    <table class="table" >
        <thead>
            <tr>
                <th>Add-On No.</th>
                <th>Descriptione</th>
                <th>Quantity</th>
                <th>Price</th>
                <th>Availability</th>
                <th>Manage</th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td><input type="text" placeholder="0001"/></td>
                <td><input type="text" placeholder="Tapioca"/></td>
                <td><input type="text" placeholder="1"/></td>
                <td><input type="text" placeholder="1.5"/></td>
                <td><input type="text" placeholder="Yes"/></td>
                <td><div style="width:90px" ><button type="button">Add item</button></div>
                </td>
            </tr>

        </tbody>
    </table>
</div>
{% endblock %}
