{% extends "base.html" %}
{% block content %}

<div class="container">
	<table class="table">
		<thead>
			<tr>
				<th>Order Number</th>
				<th>Order Time</th>
				<th>Order Type</th>
				<th>Order Items</th>
			</tr>
		</thead>
		<tbody>
		
			{% for order in order_list %}
			<tr>
				<td>{{ order.order_number }}</td>
				<td>{{ order.order_time }}</td>
				<td>{{ order.order_type }}</td>
				<td>{{ order.menu_items }}</td>
			</tr>
			{% endfor %}



		</tbody>
	</table>

</div>
{% endblock %}
